@font-face {
    font-family: Arial;
    /*src: url("./fonts/kurale/kurale-regular.otf");*/
}
body {
	text-align: left;
	display: flex;
	margin: 0px 0px;
	flex-direction: column;
}
nav {
	text-align: center;
	background-color: #1e2239;
	box-shadow: 3px 3px 6px black;
	padding: 15px 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;


}
nav a {
	padding: 0px 10px;
	color: white;
	text-decoration: none;
	font-family: Arial;
	font-weight: bold;

}
nav a:hover{
	transition : 1.2s;
	color: cyan;
}
.imaMenu{
width:  100%;
  height: 100%;
}
.posdiv {
	position: relative;
}
.submenu {
	position: absolute;
	margin-left: 0px;
	background-color: #1e2239;
	display: flex;
	visibility: hidden;
	flex-direction: column;
}
div:hover > .submenu {
	visibility: visible;
}
.puce {
	visibility: hidden;
	color: white;
}
div:hover > .puce {
	visibility: visible;
}
main {
	display: flex;
	flex-direction: column;
}
article {
	color: black;
	background-color: white;
}
main :nth-child(odd) {
	background-color: #C5C5C5;
}
main :nth-child(even) {
	background-color: white;
}
main > :hover {
	box-shadow: 3px 6px 6px black;
}
article > img {
	width: 30%;
	height: 90%;
	display: flex;
	padding: 1%;
	flex-direction: column;
	justify-content: center;
}
h2 {
	text-align: center;
	font-family: "kurale","Lucida Sans Unicode", "Arial", "sans-serif";
	margin: 10px 0px;
	color: black;
}
h3 {
	font-style: italic;
	color: black;
	margin: 1em;
	border: 1px;
	border-style: solid;
	border-color: #CCCCCC;
}
p {
	text-indent: 5px;
	margin: 30px 0px;
	color: black;
}
textarea {
	height: 45px;
	width: 40%;
}
li{
	margin-left: 20px;
}
footer {
	text-align: center;
	background-color: #1e2239;
	box-shadow: 3px 3px 6px black;
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
footer a {
	padding: 0px 10px;
	color: black;
	text-decoration: none;
}
.cliquable {
	transition: all .2s ease-in-out;

}

.cliquable:hover{
	transform:scale(1.2,1.2);
	transform-origin:0 0;
}
.menu-accordeon {
	padding:0;
	list-style:none;
	text-align: center;
	width: 180px;
}
.menu-accordeon ul {
	padding:0;
}
.menu-accordeon li {
	background-color:#727272; 
	margin-bottom:10px;
}
.menu-accordeon li li {
	max-height:0;
	overflow: hidden;
	border-radius:0;
	background: #444;
	box-shadow: none;
	border:none;
	margin:0
}
.menu-accordeon a {
	display:block;
	text-decoration: none;
	color: #fff;
	padding: 8px 0;
	font-family: verdana;
	font-size:1.2em
}
.menu-accordeon ul li a, #menu-accordeon li:hover li a {
	font-size:1em
}
.menu-accordeon li:hover {
	background: #729EBF
}
.menu-accordeon li li:hover {
	background: #999;
}
.menu-accordeon ul li:last-child {
	border-radius: 0 0 6px 6px;
	border:none;
}
.menu-accordeon li:hover li {
	max-height: 15em;
}