@font-face {
    font-family: kurale;
    src: url("./fonts/kurale/kurale-regular.otf");
}
main {
	display: flex;
}
body {
	background-color: green;
	width:98%;
	line-height: 150%;
	text-align: left;
	display: flex;
	flex-direction: column;
}
header {
	display: flex;
	flex-direction: column;
}
nav {
	text-align: center;
	background-color: red;
	margin-top: 200px;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
}
nav > div {
	display: inline;
}
nav a {
	padding: 0px 10px;
	border-left: 2px black;
	border-left-style: solid; 
}
nav > div:first-child > a {
	border-left: 0px;
}
nav div {
	display: inline;
	align-items: center;
}
nav a:visited {
	color: white;
}
.posdiv {
	position: relative;
}
.submenu {
	position: absolute;
	margin-left: 0px;
	background-color: gold;
	display: flex;
	visibility: hidden;
	flex-direction: column;
}
div:hover > .submenu {
	visibility: visible;
}
.puce {
	visibility: hidden;
}
div:hover > .puce {
	visibility: visible;
}
article {
	width: 64%;
	background-color: #CCC;
}
aside {
	width: 34%;
	margin-left: 2%;
	background-color: #CCC;
}
h2 {
	text-align: center;
	font-family: "kurale","Lucida Sans Unicode", "Arial", "sans-serif";
	margin: 10px 0px;
}
h3 {
  font-style: italic;
  color: blue;
  margin: 1em;
  border: 1px;
  border-style: solid;
  border-color: #CCCCCC;
}
p {
	text-indent: 5px;
	margin: 30px 0px;
}
a {
	text-decoration: none;
}
a:visited {
	color: #0088FF;
}
a:hover {
	color: blue;
}
textarea {
	height: 45px;
	width: 40%;
}
footer {
	background-color: red;
	display: flex;
	justify-content: center;
	height: 50px;
}
footer div {
	display: flex;
	align-items: center;
	padding: 0px 20px;
}